
@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Monteserrat';
    src: url('Montserrat-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
} 

@font-face { 
    font-family: 'Monteserrat bold';
    src: url('Montserrat-Bold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
} 

@font-face {
    font-family: 'Jost';
    src: url('Jost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}

header{
    font-family: 'Jost';
    font-size: 18px;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: flex-end;
}

nav ul li {
    margin-right: 50px; 
    margin-top: 20px;
}

nav ul li a {
    text-decoration: none; /* Remove underline */
    color: white; /* Link color */
}

nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    color: white; /* Change to desired hover color */
}

h1 {
    font-family: 'Gilroy';
    font-size: 80px;
    padding-top: 40px;
    color: white;
}

body{

    background: radial-gradient(circle, 
    rgb(255, 92, 209) 20%, 
    rgb(255, 185, 94) 70%);


    padding-left: 30px;

    p1 {
        font-family: 'Jost';
        font-size: 18px;
        color: white;
    }

    p2 {
        font-family: 'Monteserrat';
        font-size: 13px;
        color: white;
    }
}

.bold{
    font-family: 'Monteserrat bold';
}

.social-media {
    margin-top: 10px; 
    display: flex;
    gap: 30px;
}

.social-media a {
    text-decoration: none; 
    color: white; 
    font-size: 24px;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.social-media a:hover,
.social-media a:active {
    color: white; 
}
